[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"ed25519" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
mock = "*"
pylint = "<2.0.0"

[packages]
yubihsm = {path = ".",extras = ["http", "usb"],editable = true}

[scripts]
test = "python setup.py test"
docs = "make -C docs/ html"
